.App {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1200px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 5%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:#E7C6B6;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  
}

button {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color:#1b163b;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}